@{
    ViewBag.Title = "Details";
}

@{

    if (ViewBag.waybill == 1)
    {
        <h3>Shipment Information</h3>
        <table class="table table-responsive">
            <tr>
                <td>Waybill Number:</td><td>000000000001</td>
                <td>Service Type:</td><td>Next Day 10:30</td>
            </tr>
            <tr>
                <td>Delivered To:</td><td>Monica Mok</td>
                <td>Delivered At:</td><td>Front Door</td>
            </tr>
            <tr><td>Status:</td><td>Delivered</td><td></td><td></td></tr>
        </table>

        <h3>Package Information</h3>
        <table class="table table-condensed">
            <tr><th>Package Type</th><th>Weight</th></tr>
            <tr><td>Envelope</td><td>N/A</td></tr>
            <tr><td>Envelope</td><td>N/A</td></tr>
        </table>

        <h3>Shipment History</h3>
        <table class="table table-responsive">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Location</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>07/04/17</td>
                <td>08:48</td>
                <td>Delivered</td>
                <td>Shanghai</td>
                <td></td>
            </tr>
            <tr>
                <td>07/04/17</td>
                <td>06:38</td>
                <td>On vehicle for delivery</td>
                <td>Pudong</td>
                <td>Vehicle 1032</td>
            </tr>
            <tr>
                <td>06/04/17</td>
                <td>20:18</td>
                <td>At local sort facility</td>
                <td>Pudong</td>
                <td></td>
            </tr>
            <tr>
                <td>06/04/17</td>
                <td>18:05</td>
                <td>Left origin</td>
                <td>HKIA</td>
                <td>CX0123</td>
            </tr>
            <tr>
                <td>06/04/17</td>
                <td>16:15</td>
                <td>At local sort facility</td>
                <td>Tung Chung</td>
                <td></td>
            </tr>
            <tr>
                <td>06/04/17</td>
                <td>13:55</td>
                <td>Picked up</td>
                <td>Hong Kong</td>
                <td>Vehicle 34</td>
            </tr>
        </table>
    }
    if (ViewBag.waybill == 2)
    {
        <h3>Shipment Information</h3>
        <table class="table table-responsive">
            <tr>
                <td>Waybill Number:</td>
                <td>000000000002</td>
                <td>Service Type:</td>
                <td>2nd Day</td>
            </tr>
            <tr>
                <td>Delivered To:</td>
                <td>George Guo</td>
                <td>Delivered At:</td>
                <td>Front Door</td>
            </tr>
            <tr><td>Status:</td><td>Delivered</td><td></td><td></td></tr>
        </table>

        <h3>Package Information</h3>
        <table class="table table-condensed">
            <tr><th>Package Type</th><th>Weight</th></tr>
            <tr><td>Pak - small</td><td>0.5</td></tr>
        </table>

        <h3>Shipment History</h3>
        <table class="table table-responsive">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Location</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>12/04/17</td>
                <td>10:13</td>
                <td>Delivered</td>
                <td>Lanzhou</td>
                <td></td>
            </tr>
            <tr>
                <td>12/04/17</td>
                <td>07:38</td>
                <td>On vehicle for delivery</td>
                <td>Lanzhou</td>
                <td>Vehicle 82</td>
            </tr>
            <tr>
                <td>11/04/17</td>
                <td>15:28</td>
                <td>At local sort facility</td>
                <td>Lanzhou</td>
                <td></td>
            </tr>
            <tr>
                <td>11/04/17</td>
                <td>10:18</td>
                <td>Left origin</td>
                <td>HKIA</td>
                <td>KA3845</td>
            </tr>
            <tr>
                <td>10/04/17</td>
                <td>20:10</td>
                <td>At local sort facility</td>
                <td>Tung Chung</td>
                <td></td>
            </tr>
            <tr>
                <td>10/04/17</td>
                <td>16:45</td>
                <td>Picked up</td>
                <td>Hong Kong</td>
                <td>Vehicle 12</td>
            </tr>
        </table>
    }
    if (ViewBag.waybill == 3)
    {
        <h3>Shipment Information</h3>
        <table class="table table-responsive">
            <tr>
                <td>Waybill Number:</td>
                <td>000000000003</td>
                <td>Service Type:</td>
                <td>Same Day</td>
            </tr>
            <tr>
                <td>Delivered To:</td>
                <td>Sammy So</td>
                <td>Delivered At:</td>
                <td>Front Door</td>
            </tr>
            <tr><td>Status:</td><td>Delivered</td><td></td><td></td></tr>
        </table>

        <h3>Package Information</h3>
        <table class="table table-condensed">
            <tr><th>Package Type</th><th>Weight</th></tr>
            <tr><td>Tube</td><td>0.5</td></tr>
            <tr><td>Box - small</td><td>2.3</td></tr>
        </table>

        <h3>Shipment History</h3>
        <table class="table table-responsive">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Location</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>16:53</td>
                <td>Delivered</td>
                <td>Fuzhou</td>
                <td></td>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>15:50</td>
                <td>On vehicle for delivery</td>
                <td>Fuzhou</td>
                <td>Vehicle 82</td>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>15:28</td>
                <td>At local sort facility</td>
                <td>Fuzhou</td>
                <td></td>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>10:18</td>
                <td>Left origin</td>
                <td>HKIA</td>
                <td>KA3845</td>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>09:08</td>
                <td>At local sort facility</td>
                <td>Tung Chung</td>
                <td></td>
            </tr>
            <tr>
                <td>14/04/17</td>
                <td>07:55</td>
                <td>Picked up</td>
                <td>Hong Kong</td>
                <td>Vehicle 13</td>
            </tr>
        </table>
    }

    if (ViewBag.waybill == 4)
    {
        <h3>Shipment Information</h3>
        <table class="table table-responsive">
            <tr>
                <td>Waybill Number:</td>
                <td>000000000004</td>
                <td>Service Type:</td>
                <td>Ground</td>
            </tr>
            <tr><td>Status:</td><td>Left origin</td><td></td><td></td></tr>
        </table>

        <h3>Package Information</h3>
        <table class="table table-condensed">
            <tr><th>Package Type</th><th>Weight</th></tr>
            <tr><td>Envelope</td><td>N/A</td></tr>
            <tr><td>Pak - small</td><td>1.4</td></tr>
            <tr><td>Pak - large</td><td>4.6</td></tr>
            <tr><td>Tube</td><td>1.0</td></tr>

        </table>

        <h3>Shipment History</h3>
        <table class="table table-responsive">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Location</th>
                <th>Remarks</th>
            </tr>
            <tr>
                <td>02/05/17</td>
                <td>10:35</td>
                <td>Left origin</td>
                <td>Shatin</td>
                <td>Vehicle 667</td>
            </tr>
            <tr>
                <td>02/05/17</td>
                <td>10:00</td>
                <td>At local sort facility</td>
                <td>Shatin</td>
                <td></td>
            </tr>
            <tr>
                <td>02/05/17</td>
                <td>08:30</td>
                <td>Picked up</td>
                <td>Hong Kong</td>
                <td>Vehicle 12</td>
            </tr>
        </table>
    }
    if (ViewBag.waybill != 1 && ViewBag.waybill != 2 && ViewBag.waybill != 3 && ViewBag.waybill != 4) {
        <h2>Shipment with specified waybill id cannot be found. Please try again.</h2>
    }
    @Html.ActionLink("Search Again","Index","ShipmentTracking")
}