@model IEnumerable<SinExWebApp20265462.Models.ShipmentTracking>

@{
    ViewBag.Title = "Index";
}

<h2>Track shipment</h2>

@using (Html.BeginForm("Details", "ShipmentTrackings"))
{
    <input type="text" id="id" name="id" placeholder="input waybill ID" />
    <button type="submit">Search</button>
}
