@model IEnumerable<SinExWebApp20265462.Models.Shipment>

@{
    ViewBag.Title = "Enter Shipment Waybill";
}

<h2>Enter Shipment Waybill</h2>

@using (Html.BeginForm("InputShipmentDetails", "Shipments"))
{
    <input type="text" id="id" name="id" placeholder="input waybill ID" />
    <button type="submit">Search</button>
}
