@model IEnumerable<SinExWebApp20265462.ViewModels.ServicePackageFeesListViewModel>

<table class="table">
    <tr>
        <th rowspan="2">
            Service Type
        </th>
        <th colspan=@Model.Select(x => x.PackageType).Count()>
            Package Type
        </th>
    </tr>
    <tr>
        @foreach (var item in Model.Select(x => x.PackageType).Distinct())
        {
            <th>
                @Html.DisplayFor(modelItem => item.Type)
            </th>
        }
    </tr>

    @foreach (var item in Model.Select(x => x.ServiceType).Distinct())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            @foreach (var servicePackageFee in item.ServicePackageFees)
            {
                <td>
                    @Html.DisplayFor(modelItem => servicePackageFee.Fee)
                    <font size="2">(@Html.DisplayFor(modelItem => servicePackageFee.MinimumFee) min.)</font>
                </td>
            }
        </tr>
    }

</table>

